<div data-ng-controller="FlavorsCtrl">
  <table class="table table-bordered table-hover table-striped" tr-ng-grid="" enable-filtering="false" items="flavors" order-by="'name'">
    <thead>
        <th field-name="id" display-name="ID"></th>
        <th field-name="name" display-name="Flavor"></th>
        <th field-name="ram" display-name="Memory MB"></th>
        <th field-name="swap" display-name="Swap"></th>
        <th field-name="disk" display-name="Disk"></th>
        <th field-name="vcpus" display-name="VCPUs"></th>
        <th field-name="OS-FLV-EXT-DATA:ephemeral" display-name="Ephemeral"></th>
        <th field-name="rxtx_factor" display-name="RXTX Factor"></th>
        <th field-name="os-flavor-access:is_public" display-name="Is Public"></th>
    </thead>
  </table>
</div>
