<!DOCTYPE html>
<html lang="en" ng-app="app" id="ng-app">
<head>

  <title>OpenStack Dashboard</title>

  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-simplex.css">

  <script src="js/libs/angular-1.3.0-rc.2/angular.js"></script>
  <script src="js/libs/angular-1.3.0-rc.2/angular-route.js"></script>
  <script src="js/libs/angular-local-storage-0.0.7.js"></script>
  <script src="js/libs/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="js/libs/ng-table-0.3.2/ng-table.src.js"></script>

  <script src="js/libs/underscorejs-1.6.0/underscore.js"></script>

  <script src="app/app.js"></script>
  <script src="app/services.js"></script>
  <script src="app/home.js"></script>

  <!-- order of loading here determines order of menus -->
  <script src="app/keystone.js"></script>
  <script src="app/nova.js"></script>

</head>
<body>

  <header>
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="container-liquid">
          <div class="row">
            <div class="col-sm-12">
              <div id="alert-container">
                <alert class="alert-fixed" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
                  {{alert.msg}}
                </alert>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h1 style="margin: 0 20px;">
                <img src="img/openstack-logo.png" alt="OpenStack" title="OpenStack" />
                {{pageHeading}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="panel col-sm-2">
          <ul>
            <li ng-repeat="menu in menus.menus" ng-if="menus.shouldShow(menu)">
              <a href="{{menu.action}}">{{menu.title}}</a>
              <ul ng-if="menu.menus">
                <li ng-repeat="submenu in menu.menus" ng-if="menus.shouldShow(submenu)">
                  <a href="{{submenu.action}}">{{submenu.title}}</a>
                </li>
              </ul>
            </li>
          </ul>
      </div>
      <div class="col-sm-10">
        <div class="container-fluid">
          <div ng-view></div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="apiService.access">
      <label for="show-credentials">Show Credentials</label>
      <input id="show-credentials" type="checkbox" ng-model="showCredentials"><br/>
      <pre ng-show="showCredentials" class="ng-hide">{{ apiService.access() | json }}</pre>
    </div>
  </div>

</body>
</html>
