<div data-ng-controller="ServersCtrl">
  <table class="table table-bordered table-hover table-striped" st-table="servers">
    <thead>
        <th>Name</th>
        <th>ID</th>
        <th>Flavor</th>
        <th>Image</th>
        <th>Status</th>
        <th>Created</th>
        <th>Updated</th>
    </thead>
    <tbody>
      <tr ng-repeat="server in servers">
        <td>{{ server.name }}</td>
        <td>{{ server.id }}</td>
        <td>{{ flavorMap[server.flavor.id].name }}</td>
        <td>{{ imageMap[server.image.id].name }}</td>
        <td>{{ server.status }}</td>
        <td>{{ server.created | date : mediumDate }}</td>
        <td>{{ server.updated | date : mediumDate }}</td>
      </tr>
    </tbody>
  </table>

  <hr/>

  <form name="form" role="form">

    <div class="row">
      <div class="form-group col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <label for="name">Server Name</label>
        <input type="text" class="form-control" name="name" ng-model="newServer.name" id="name" required>
      </div>
      <div class="form-group col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <label for="image">Image</label>
        <select class="form-control" name="image" ng-model="newServer.imageRef" id="image" required ng-options="image.id as image.name for image in images"></select>
      </div>
      <div class="form-group col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <label for="flavor">Flavor</label>
        <select class="form-control" name="flavor" ng-model="newServer.flavorRef" id="flavor" required ng-options="flavor.id as flavor.name for flavor in flavors"></select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <small>
          <strong>Note:</strong> All fields are mandatory
        </small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <button type="submit" ng-click="createServer()"
                class="btn btn-primary btn-right btn-md btn-md-block"
                ng-disabled="form.$invalid" id="btn-login">
          Create Server <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>

  </form>


</div>
