<div data-ng-controller="SwiftContainersCtrl">

    <script type="text/ng-template" id="viewDetails.html">
        <div class="modal-header">
            <h3 class="modal-title">Container Details</h3>
        </div>
        <div class="modal-body">
          <dl>
            <dt>Container Name</dt>
            <dd>{{containerDetails.name}}</dd>
            <dt>Container Access</dt>
            <dd ng-bind-html="containerDetails.access"></dd>
            <dt>Object Count</dt>
            <dd>{{containerDetails.count}}</dd>
            <dt>Size</dt>
            <dd>{{containerDetails.bytes}}</dd>
          </dl>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Close</button>
        </div>
    </script>

  <div class="content_wrapper pull-left">
    <div class="table_header">
      <h3>Containers</h3>
    </div>
    <table class="table table-bordered table-hover table-striped" st-table="containers">
      <thead>
          <th>Name</th>
          <th>Details</th>
          <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="container in containers">
          <td><a href="" ng-click="selectContainer(container.name)">{{ container.name }}</a></td>
          <td>
            Object Count: {{container.count}}<br/>
            Size: {{container.bytes | humanFileSize}}<br/>
            <span ng-if="container.isPublic"><a href="/api/swift/{{container.name}}">Public</a></span>
            <span ng-if="!container.isPublic">Private</span>

            <div ng-bind-html="container.details"></div>
          </td>
          <td>
            <div>
              <button class="btn btn-default" ng-click="open(container)">View Details</button>
              <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                  More <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Make Private</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="content_wrapper pull-left">
    <div class="table_header">
      <h3>Objects</h3>
      <table class="table table-bordered table-hover table-striped" st-table="objects">
        <tbody>
          <tr ng-repeat="object in objects">
            <td>{{object.name}}</td>
            <td ng-if="object.type==='object'">{{object.bytes | humanFileSize }}</td>
            <td ng-if="object.type==='pseudo folder'">{{object.type }}</td>
            <td ng-if="object.type==='object'"><button>Download</button><button>More</button></td>
            <td ng-if="object.type==='pseudo folder'"><button>Delete Object</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
